.h1{
    left: 110px;
    font-size: 20px;
    padding-left: 22px;
    position: absolute;
    top: 4px;
    color: #000000;
}

.content{
    position: absolute;
    top: 70px;
    left: 10px;
    padding: 0px red;
}

input[type=submit] {
    width: 100px;
    background-color: #4169E1;
    color: white;
    padding: 10px 20px;
    margin: 20px 50px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #0000CD;
}

body{
    width:300px;
    height:auto;
}  
div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}